<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <i class="glyph glyph-hamburger"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li>
                    <a class="type-t6" href="#nav-item-1" data-bind="attr: {href: hash},css:{active: isActive},text:title"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h2><span class="color-type-primary ml-10">辰运点餐</span></h2>
                <div class="pull-right">当前登陆用户：<span class="cl-blue">周杰</span></div>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-24">
            <div data-bind="router: { cacheViews:true, transition: 'entrance' }"></div>
        </div>
    </div>
</div>
