<nav class="navbar navbar-local color-accent theme-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <i class="glyph glyph-hamburger"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li>
                    <a class="type-t6" href="#nav-item-1" data-bind="attr: {href: hash},css:{active: isActive},text:title"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24" data-bind="with: auth">
                <!-- ko if: authed -->
                <div class="pull-right"><a class="text-warning" href="#" data-bind="click: $parent.logout.bind($parent)">退出登录</a></div>
                <div class="pull-right">&nbsp;&nbsp;</div>
                <div class="pull-right"><a href="/account/changePassword">修改密码</a></div>
                <div class="pull-right">&nbsp;&nbsp;</div>
                <div class="pull-right">你好，<span class="cl-blue" data-bind="text: userName"></span></div>
                
                
                <!-- /ko -->
                <!-- ko ifnot: authed -->
                <div class="pull-right"><a class="text-warning" href="/account/login">请登录</a></div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div class="page-host" data-bind="router: { transition: 'entrance' }"></div>