<nav class="navbar navbar-local color-accent theme-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <i class="glyph glyph-hamburger"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <!-- ko if: visible -->
                <li>
                    <a class="type-t6" href="#nav-item-1" data-bind="attr: {href: hash},css:{active: isActive},text:title"></a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</nav>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24" data-bind="with: auth">
                <!-- ko if: authed -->
                <div class="pull-right"><a class="text-warning" href="#" data-bind="click: $parent.logout.bind($parent)">退出登录</a></div>
                <div class="pull-right">&nbsp;&nbsp;</div>
                <div class="pull-right"><a href="/account/changePassword">修改密码</a></div>
                <div class="pull-right">&nbsp;&nbsp;</div>
                <div class="pull-right">你好，<span class="cl-blue" data-bind="text: userName"></span></div>
                
                
                <!-- /ko -->
                <!-- ko ifnot: authed -->
                <div class="pull-right"><a class="text-warning" href="/account/login">请登录</a></div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div class="page-host" data-bind="router: { transition: 'entrance' }"></div>

<script type="text/html" id="pager-foot">
    <nav class="text-center">
        <ul class="pagination" data-bind="foreach: pagerButtons">
            <!-- ko if: type == 'first' -->
            <li class="pagination-prev">
                <a href="javascript:void(0)" aria-label="首页" data-bind="click: click">
                    <i aria-hidden="true" class="glyph glyph-chevron-left"></i>
                </a>
            </li>
            <!-- /ko -->
            <!-- ko if: type == 'prev' -->
            <li class="pagination-prev">
                <a href="javascript:void(0)" aria-label="上一页" data-bind="click: click">
                    <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                </a>
            </li>
            <!-- /ko -->
            <!-- ko if: type == 'page' -->
            <li data-bind="css: {active: active}">
                <a href="javascript:void(0)" data-bind="click: click, text: page">1</a>
            </li>
            <!-- /ko -->
            <!-- ko if: type == 'dot' -->
            <li class="pagination-ellipsis"><span>&hellip;</span></li>
            <!-- /ko -->
            <!-- ko if: type == 'next' -->
            <li class="pagination-next">
                <a href="javascript:void(0)" aria-label="下一页" data-bind="click: click">
                    <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                </a>
            </li>
            <!-- /ko -->
            <!-- ko if: type == 'last' -->
            <li class="pagination-next">
                <a href="javascript:void(0)" aria-label="尾页" data-bind="click: click">
                    <i aria-hidden="true" class="glyph glyph-chevron-right"></i>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </nav>
</script>