<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <md-icon>search</md-icon>
        <form flex>
            <input type="text"
                   ng-model="vm.query.userName" ng-model-options="{debounce: 500}" placeholder="用户名..." />
        </form>

        <md-button class="md-icon-button" ng-click="vm.showAdvanceQuery()">
            <md-icon>filter_list</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="vm.removeQuery()">
            <md-icon>close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table ng-model="vm.data" md-progress="vm.promise">
        <thead md-head>
            <tr md-row>
                <th md-column md-numeric>#</th>
                <th md-column>用户名</th>
                <th md-column>点餐时间</th>
                <th md-column>套餐</th>
                <th md-column>口味</th>
                <th md-column>地点</th>
                <th md-column>备注</th>
                <th md-column>付款</th>
                <th md-column md-numeric>金额</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in vm.data.items">
                <td md-cell>{{item.id}}</td>
                <td md-cell>{{item.orderUser.userName}}</td>
                <td md-cell date-time="{{item.orderTime}}"></td>
                <td md-cell>{{item.foodMenu.details}}</td>
                <td md-cell>{{item.taste.name}}</td>
                <td md-cell>{{item.location.name}}</td>
                <td md-cell>{{item.comment}}</td>
                <td md-cell>{{item.payment ? "√" : "X"}}</td>
                <td md-cell>{{item.foodMenu.price}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-label="{page: '页码', rowsPerPage: '每页行数', of: '/'}"
                     md-limit="vm.query.pageSize"
                     md-page="vm.query.page"
                     md-total="{{vm.data.count}}"
                     md-on-paginate="vm.onPaginate"
                     md-page-select>
</md-table-pagination>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">高级查询</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-datepicker ng-model="vm.query.date" md-placeholder="点餐日期"></md-datepicker>
        </form>
        <md-button ng-click="vm.advanceQuery()" class="md-primary">
            查询
        </md-button>
    </md-content>
</md-sidenav>