<div layout="column" style="height: 100%">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">CYDC</h1>
            </md-toolbar>
            <ul>
                <li>
                    <a ng-href="/">Food Order</a>
                </li>
                <li>
                    <a ng-href="/about">About</a>
                </li>
            </ul>
        </md-sidenav>

        <div layout="column" tabindex="-1" flex role="main">
            <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
                <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
                    <md-button class="md-icon-button" ng-click="root.openMenu()" hide-gt-sm aria-label="Toggle Menu">
                        <md-icon md-svg-src="img/icons/ic_menu_white_24px.svg"></md-icon>
                    </md-button>
                    <div layout="row" flex class="fill-height">
                        Food Order
                    </div>
                </div>
            </md-toolbar>
        </div>
    </section>
</div>