<div style="padding:10px;">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">

        <strong>通知信息</strong>
        <span data-bind="html:notices().content">
            <br>
        </span>
        </p><p style="color:red; font-size:16px;">
            请大家尽量上午10:00、下午4:00之前完成点餐。上午超过11:00、下午17:30后，菜单将关闭，需要点餐请直接联系赵叔叔 15802671079<br>

        </p>
    </div>
    <div style="float:left;">
        <img src="../../img/pay.jpg" />
    </div>
    <div style="padding:30px;float:left; font-size:18px;font-family:'微软雅黑', 'Segoe UI'">
        <h4>当前套餐:</h4>

        <md-radio-group ng-model="vm.sel.menu">
            <md-radio-button ng-repeat="it in vm.menu" ng-value="it.value" aria-label="{{it.title}}">
                {{it.price}}¥    {{it.title}}
            </md-radio-button>
        </md-radio-group>
        <div>
            <md-radio-group ng-model="vm.sel.taste">

                <md-radio-button class="radio-inline" ng-repeat="it in vm.taste" ng-value="it.value" aria-label="{{it.name}}">
                    {{it.name}}
                </md-radio-button>
            </md-radio-group>

        </div>
        <br />
        <div>
            <md-radio-group ng-model="vm.sel.location">

                <md-radio-button class="radio-inline" ng-repeat="it in vm.location" ng-value="it.value" aria-label="{{it.name}}">
                    {{it.name}}
                </md-radio-button>
            </md-radio-group>

        </div>
        <div style="width:500px;">

            <h5>备注:</h5>
            <md-input-container class="md-block">
                <input ng-model="vm.comment" md-maxlength="30" md-select-on-focus="" placeholder="如果不是因为忌口，请尽量少提特殊要求~" />
            </md-input-container>
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.Sure()">提交</md-button>
        <label style="color:red; font-size:18px;">
            请记得及时付款哦~
        </label>

        <div ng-show="vm.visible">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-sample-label">
                        确定要点餐？
                    </h4>
                </div>
                <div class="modal-body">
                    <div>套餐：{{vm.menu[vm.sel.menu].title}}</div>
                    <div>
                        口味：{{vm.taste[vm.sel.taste].name}}
                        地点：{{vm.location[vm.sel.location].name}}
                        金额：{{vm.menu[vm.sel.menu].price}}¥
                    </div>
                    <div>备注：{{vm.comment}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        取消
                    </button>
                    <md-button class="md-raised md-primary" ng-click="vm.Sure()">确定</md-button>

                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .radio-inline {
        display: inline;
    }
</style>