<div class="container body-content">
    <div class="row">
        <div class="col-md-10">
            <section>
                <form method="post" class="form-horizontal" role="form" action="/Account/Login">
                    <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Email">账号</label>
                        <div class="col-md-16">
                            <input class="form-control" type="text" data-val="true" data-val-email="Email &#x5B57;&#x6BB5;&#x4E0D;&#x662F;&#x6709;&#x6548;&#x7684;&#x7535;&#x5B50;&#x90AE;&#x4EF6;&#x5730;&#x5740;&#x3002;" data-val-required="Email &#x5B57;&#x6BB5;&#x662F;&#x5FC5;&#x9700;&#x7684;&#x3002;" id="Email" name="Email" value="" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Password">密码</label>
                        <div class="col-md-16">
                            <input class="form-control" type="password" data-val="true" data-val-required="Password &#x5B57;&#x6BB5;&#x662F;&#x5FC5;&#x9700;&#x7684;&#x3002;" id="Password" name="Password" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <a href="home/register" class="btn btn-link">注册</a>
                        </div>
                        <div class="col-md-offset-2 col-md-2">
                            <a href="home/forgotPswd" class="btn btn-link">忘记密码?</a>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <button type="submit" class="btn btn-primary theme-default">登录</button>
                        </div>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Fj5846r2cpHmlIhWwmp8fUN9jEkPYOmGjLX6AC_A0Op9oLxC1hdXMe0CLS2l854GEHcS-wD7UYFystL-PMChVKKXQqJ1u9oLhMOHBjWvTjvdb8UqEeytLkk1HBj9mnHu36USDir2IPNveUOhfGjaqQ" />
                </form>
            </section>
        </div>
    </div>
</div>



