<div class="container body-content">
    <div class="row">
        <div class="col-md-10">
            <section>
                <form class="form-horizontal" role="form" data-bind="submit: login">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">账号</label>
                        <div class="col-md-16">
                            <input class="form-control" type="text" id="email" name="Email" 
                                   data-bind="value: userName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">密码</label>
                        <div class="col-md-16">
                            <input class="form-control" type="password" id="password" name="password" 
                                   data-bind="value: password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <a href="/account/register" class="btn btn-link">注册</a>
                        </div>
                        <div class="col-md-offset-2 col-md-2">
                            <a href="/account/forgotPassword" class="btn btn-link">忘记密码?</a>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <button type="submit" class="btn btn-primary theme-default">登录</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>



