<div class="container">
    <div class="row">
        <div class="col-md-24">
            <h2>注册</h2>
            <label class="type-sh2">创建新帐户</label>
            <form class="form-horizontal" data-bind="submit: register">
                <hr /><br />
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-2 control-label">电子邮件</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="电子邮件..." data-bind="value: email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-2 control-label">用户名</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="中文姓名..." data-bind="value: username" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-2 control-label">密码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="密码..." data-bind="value: password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-2 control-label">确认密码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="确认密码..." data-bind="value: confirmedPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <button type="submit" class="btn btn-primary theme-default">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>