<div class="menuContent col-sm-24">
    <div class="col-sm-24">
        <div class="form-group col-sm-6">
            <input type='text' class='form-control' placeholder="菜谱名称" />
        </div>
        <div class="form-group col-sm-6">
            <input type='text' class='form-control' placeholder="套餐名称" />
        </div>
        <div class="form-group col-sm-6">
            <input type='text' class='form-control' placeholder="价格" />
        </div>
        <div class="form-group col-sm-6 mt-11">
            <a class="btn btn-primary theme-default" title="新增">新增</a>
        </div>
    </div>
    <div class="col-sm-24">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>今日菜谱</b></th>
                        <th><b>套餐名称</b></th>
                        <th><b>价格</b></th>
                        <th class="text-right"><b>是否可用</b></th>
                        <th class="text-right"><b>删除</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>辣椒炒肉</td>
                        <td>豪华套餐</td>
                        <td>12</td>
                        <td class="text-right">
                            <div class="btn-group mt-30">
                                <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false">
                                    <span class="stateLabel stateLabel-on">可用</span>
                                    <span class="stateLabel stateLabel-off">不可用</span>
                                </button>
                            </div>
                        </td>
                        <td class="text-right"><span class="glyph glyph-delete"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>