<div class="row">
    <div class="col-sm-24">
        <div class="form-group col-sm-6">
            <input type='text' class='form-control' placeholder="类型名称" data-bind="value:name" />
        </div>
        <div class="col-sm-18">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="新增" data-bind="click:add">新增</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-24">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>类型名称</b></th>
                        <th class="text-right"><b>删除</b></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:allType">
                    <tr>
                        <td data-bind="text:name"></td>
                        <td class="text-right"><span class="glyph glyph-delete" data-bind="click:$parent.drop.bind($parent)"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
