<div class="row">
    <div class="menuContent col-sm-24">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" style="width:20px;height:20px;" title="全选" />
                            </th>
                            <th><div class="type-sh3">用户</div></th>
                            <th><div class="type-sh3">金额</div></th>
                            <th><div class="type-sh3">更新</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" style="width:20px;height:20px;" />
                            </td>
                            <td class="type-sh4">Gray</td>
                            <td class="type-sh4">
                                <div style="padding: 0em 4em 0em 0em;">
                                    <div class="form-group-sm">
                                        <input type='text' />
                                    </div>
                                </div>
                            </td>
                            <td class="type-sh4"><a href="#" class="link">更新</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>