<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-8">
            <input type='text' class='form-control' placeholder="用户名称" />
        </div>
        <div class="col-sm-24 col-md-3">
            <div style="margin-top:-12px;">
                <a class="btn btn-primary theme-default" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
        <div class="col-sm-24 col-md-13">
            <nav class="pull-right">
                <ul class="pagination">
                    <li class="pagination-prev">
                        <a href="#" aria-label="上一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                        </a>
                    <li class="pagination-next">
                        <a href="#" aria-label="下一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户</b></th>
                            <th><b>金额</b></th>
                            <th><b>操作时间</b></th>
                            <th class="text-right"><b>添加金额</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gray</td>
                            <td>12</td>
                            <th>2015-11-5</th>
                            <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-sample"
     tabindex="-1" role="dialog"
     aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-sm-24 col-md-24">
                    <span>请输入添加金额</span>
                    <input type='text' class='form-control' placeholder="金额" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>