
<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-12">
            <div class="img-container">
                <img src="../images/pay.jpg" />
            </div>
        </div>
        <div class="col-sm-24 col-md-12">
            <div class="col-xs-24 col-sm-12 col-md-12">
                <label>套餐类型</label>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control">
                                <option>豪华套餐</option>
                                <option>升级套餐</option>
                                <option>普通套餐</option>
                            </select>
                        </div>
                    </div>
                </div>
                <label>派送地点</label>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control">
                                <option>一楼</option>
                                <option>二楼</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-sm-12 col-md-12">
                <label>口味类型</label>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control">
                                <option>清淡</option>
                                <option>微辣</option>
                            </select>
                        </div>
                    </div>
                </div>
                <label>真实姓名</label>
                <div class="form-group">
                    <input type='text' class='form-control' />
                </div>
            </div>
            <div class="col-xs-24">
                <label>备注</label>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <textarea class='form-control'></textarea>
                    </div>
                </div>
                <label>金额</label>
                <label>12</label>
            </div>

            <div class="col-sm-24">
                <button class="btn btn-primary">提交</button>
            </div>
            <div class="col-sm-24">
                <br />
                <label>通知:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod nibh quam, posuere ultrices ligula molestie at.</label>
            </div>
        </div>
        <div class="col-sm-24">
            <h3><span>2015-10-25</span>点餐记录</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><h5>姓名</h5></th>
                            <th><h5>套餐</h5></th>
                            <th><h5>口味</h5></th>
                            <th><h5>备注</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>姓名</td>
                            <td>普通套餐</td>
                            <td>微辣</td>
                            <td>备注备注备注备注备注备注备注备注备注备注备注备注备注</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>