<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-12">
            <div class="img-container">
                <img src="../images/pay.jpg" />
            </div>
        </div>
        <div class="col-sm-24 col-md-12">
            <div class="col-xs-24 ">
                <div class="type-sh4">今日菜谱：<span>莴笋炒肉，腊鸡，红烧冬瓜，泡萝卜</span></div>
            </div>
            <div class="col-xs-24 col-sm-12 col-md-12">
                <div class="type-t6">套餐类型</div>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control">
                                <option>豪华套餐</option>
                                <option>升级套餐</option>
                                <option>普通套餐</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="type-t6">派送地点</div>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control">
                                <option>一楼</option>
                                <option>二楼</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-sm-12 col-md-12">
                <div class="type-t6">口味类型</div>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control">
                                <option>清淡</option>
                                <option>微辣</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="type-t6">金额</div>
                <div class="jumbotron-content" style="margin-top:8px;">
                    <span class="type-t6"><b>12</b></span>
                </div>
            </div>
            <div class="col-xs-24">
                <div class="type-t6">备注</div>
                <div class="jumbotron-content">
                    <div class="form-group">
                        <textarea class='form-control' rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-24">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-sample">提交</button>
            </div>
            <div class="col-sm-24">
                <br />
                <div class="type-t6">
                    通知:今天下午16:30，一加将在北京竞园艺术中心举办新品发布会，正式发布旗下首款小屏旗舰新机“一加手机X”。届时，IT之家将为大家带来本次发布会的全程图文直播，敬请关注.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sample" tabindex="-1" role="dialog" aria-labelledby="modal-sample">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label">
                    确定要点餐？
                </h4>
            </div>
            <div class="modal-body">
                <div><b>菜谱：</b><span>豪华套餐豪华套餐豪华套餐豪华套餐豪华套餐</span></div>
                <div><b>套餐：</b><span>超辣</span></div>
                <div><b>口味：</b><span>超辣</span></div>
                <div><b>备注：</b><span>不要辣椒不要辣椒不要辣椒不要辣椒不要辣椒不要辣椒</span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
