<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-12">
            <div class="type-t6">查询日期</div>
            <input type="date" class="form-control" jquery-validation="true" />
        </div>
        <div class="col-sm-24 col-md-12">
            <nav class="pull-right">
                <ul class="pagination">
                    <li class="pagination-prev">
                        <a href="#" aria-label="上一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                        </a>
                    <li class="pagination-next">
                        <a href="#" aria-label="下一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><h5>时间</h5></th>
                            <th><h5>套餐</h5></th>
                            <th><h5>口味</h5></th>
                            <th class="text-right"><h5>金额</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="type-t6">2015-10-25</td>
                            <td class="type-t6">This is the amazing new Gadget Alpha.</td>
                            <td class="type-t6">Gadget Foxtrot</td>
                            <td class="text-right type-t6">$0.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
