<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-8">
            <input type="date" class="form-control col-md-1" jquery-validation="true" />
        </div>
        <div class="col-sm-24 col-md-3">
            <div style="margin-top:-12px;">
                <a class="btn btn-primary theme-default" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
        <div class="col-sm-24 col-md-5"  style="margin-top:-7px;">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    <span>显示个人</span>
                </label>
            </div>
        </div>
        <div class="col-sm-24 col-md-8">
            <nav class="pull-right">
                <ul class="pagination">
                    <li class="pagination-prev">
                        <a href="#" aria-label="上一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                        </a>
                    <li class="pagination-next">
                        <a href="#" aria-label="下一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>点餐时间</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>备注</b></th>
                            <th><b>金额</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
