<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-8">
            <div class="form-group">
                <input type='text' class='form-control' placeholder="用户名" />
            </div>
        </div>
        <div class="col-sm-24 col-md-4">
            <div style="margin-top:-10px;">
                <button class="btn btn-primary type-t6">查询</button>
            </div>
        </div>
        <div class="col-sm-24 col-md-12">
            <nav class="pull-right">
                <ul class="pagination">
                    <li class="pagination-prev">
                        <a href="#" aria-label="上一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                        </a>
                    <li class="pagination-next">
                        <a href="#" aria-label="下一页">
                            <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户名</b></th>
                            <th><b>密码</b></th>
                            <th><b>是否可用</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gray</td>
                            <td>
                                <div style="padding: 0em 4em 0em 0em; margin-top:0px;">
                                    <div class="form-group-sm">
                                        <input type='text' class='col-sm-18' />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="padding: 0em 0em 0em 0em; margin-top:-30px;">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false">
                                            <span class="stateLabel stateLabel-on">可用</span>
                                            <span class="stateLabel stateLabel-off">不可用</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
