<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-8">
            <div class="form-group">
                <input type='text' class='form-control' placeholder="用户名" />
            </div>
        </div>
        <div class="col-sm-24 col-md-16 mt-12">
            <a class="btn btn-primary theme-default" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户名</b></th>
                            <th><b>密码</b></th>
                            <th><b>是否可用</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gray</td>
                            <td>
                                <div class="form-group-sm">
                                    <input type='text' class='col-sm-18' />
                                </div>
                            </td>
                            <td>
                                <div class="btn-group mt-30">
                                    <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false">
                                        <span class="stateLabel stateLabel-on">可用</span>
                                        <span class="stateLabel stateLabel-off">不可用</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-24 col-md-24">
                    <nav class="pull-right">
                        <ul class="pagination">
                            <li class="pagination-prev">
                                <a href="#" aria-label="上一页"></a>
                            <li class="pagination-next">
                                <a href="#" aria-label="下一页"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
