@{ Layout = null; }<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body ng-cloak>
</body>
</html>