@{ Layout = null; }<!DOCTYPE html>
<html lang="zh-hans" ng-app="Cydc">
<head>
    <meta charset="utf-8" />
    <title>CYDC</title>
    @*<link rel="icon" type="image/x-icon" href="favicon.ico" />*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="~/css/bundle.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body ng-cloak ng-controller="RootCtrl as root">
    <div ng-view style="height: 100%"></div>
    <environment names="Production">
        <script src="~/lib/bundle.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/bundle.js"></script>
    </environment>
    
    <script src="~/app/service/auth.js"></script>
    <script src="~/app/service/api.js"></script>
    <script src="~/app/account/login.js"></script>
    <script src="~/app/main.js"></script>
</body>
</html>