@{ Layout = null; }<!DOCTYPE html>
<html lang="zh-hans" ng-app="Cydc">
<head>
    <meta charset="utf-8" />
    <title>CYDC</title>
    @*<link rel="icon" type="image/x-icon" href="favicon.ico" />*@
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="~/css/bundle.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body ng-cloak ng-controller="RootCtrl as root">
    <div layout="column" style="height: 100%">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">CYDC</h1>
                </md-toolbar>
                <md-content ng-include="'/view/widgets/menu.html'">
                </md-content>
            </md-sidenav>

            <div layout="column" tabindex="-1" flex role="main">
                <md-toolbar class="md-whiteframe-glow-z1" ng-include="'/view/widgets/appbar.html'"></md-toolbar>
                <div ng-view></div>
            </div>
        </section>
    </div>

    <environment names="Production">
        <script src="~/lib/bundle.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/bundle.js"></script>
    </environment>

    <script src="~/app/service/auth.js"></script>
    <script src="~/app/service/api.js"></script>
    <script src="~/app/service/menuInfo.js"></script>

    <script src="~/app/account/login.js"></script>
    <script src="~/app/foodorder/order.js"></script>
    <script src="~/app/foodorder/orderlist.js"></script>
    <script src="~/app/about/about.js"></script>

    <script src="~/app/widgets/menu.js"></script>

    <script src="~/app/core/root.js"></script>
    <script src="~/app/core/modules.js"></script>
</body>
</html>