.page-host {
    position: relative;
}

::-webkit-scrollbar {
    width: 0 !important;
}

.navbar-local .navbar-nav > li > a.active {
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
}

#info {
    width:600px;
}

.mt22 {
    top: 30px;
}

.mt-7 {
    top: -7px;
}

.mt-11 {
    top: -11px;
}

.mt-12 {
    top: -12px;
}

.mt-15 {
    top: -15px;
}

.mt-22 {
    top: -22px;
}

.mt-30 {
    top: -30px;
}

.mt-35 {
    top: -35px;
}
.mt-40 {
    top: -40px;
}


.h-0 {
    height: 0px;
}

.cl-blue {
    color: #0078D7;
}

#register {
    background-color:#0078D7;
    color:rgb(255, 255, 255);
}

.validationMessage {
    color:red;
}