<div class="container">
    <h3>
        这是一个开源项目，地址是：<br />
        <a href="https://github.com/Gray-wen/CYDC">https://github.com/Gray-wen/CYDC</a>
    </h3>
    
    <h3>
        如果你有任何看法，欢迎给我们提BUG：<br />
        <a href="https://github.com/Gray-wen/CYDC/issues">https://github.com/Gray-wen/CYDC/issues</a>
    </h3>

    <h3>
        目前BUG很多，所以更欢迎Pull Request：<br />
        <a href="https://github.com/Gray-wen/CYDC/pulls">https://github.com/Gray-wen/CYDC/pulls</a>
    </h3>

    <h3>
        感谢使用，<strong>Thank you!</strong>
    </h3>
</div>