<div class="container">
    <div class="row">
        <form data-bind="submit:search">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type='text' class='form-control' placeholder="用户名称" data-bind="value:userName" />
                </div>
            </div>
            <div class="col-sm-18">
                <div class="btn-group mt-35">
                    <button type="submit" class="btn btn-block btn-primary" title="查询">
                        <span class="glyph glyph-magnifier-3"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" data-bind="if:items().length>0">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户</b></th>
                            <th><b>金额</b></th>
                            <th class="text-right"><b>操作时间</b></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:items">
                        <tr>
                            <td data-bind="text:user.userName"></td>
                            <td data-bind="text:amount"></td>
                            <td class="text-right" data-bind="dateTimeText:createTime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                当前第<span class="cl-blue" data-bind="text:pageNumber"></span>页
            </div>
            <div class="pull-right">
                <a href="#" data-bind="click:hasPrev()&&loadPrevPage">上一页</a>
                <a href="#" data-bind="click:hasNext()&&loadNextPage">下一页</a>
            </div>
        </div>
    </div>
    <div class="row text-center" data-bind="ifnot:items().length>0">
        <h3>没有查询到相关数据.</h3>
    </div>
</div>
