<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-8">
            <input type='text' class='form-control' placeholder="用户名称" />
        </div>
        <div class="col-sm-24 col-md-16 mt-12">
            <div">
                <a class="btn btn-primary theme-default" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-24">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><b>用户</b></th>
                        <th><b>金额</b></th>
                        <th><b>操作时间</b></th>
                        <th class="text-right"><b>添加金额</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                    <tr>
                        <td>Gray</td>
                        <td>12</td>
                        <th>2015-11-5</th>
                        <th class="text-right"><a href="#" data-toggle="modal" data-target="#modal-sample">添加金额</a></th>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-24 col-md-24">
                <nav class="pull-right">
                    <ul class="pagination">
                        <li class="pagination-prev">
                            <a href="#" aria-label="上一页"></a>
                        <li class="pagination-next">
                            <a href="#" aria-label="下一页"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sample" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-24 col-md-18">
                        <input type='text' class='form-control' placeholder="金额" />
                    </div>
                    <div class="col-sm-24 col-md-3 mt-11">
                        <button type="button" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>