<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type='text' class='form-control' placeholder="用户名称" data-bind="value:userName" />
            </div>
        </div>
        <div class="col-sm-18">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="查询" data-bind="click:query"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="form-group">
                <span>显示行数</span>
                <select size="1" data-bind="value:pageSize">
                    <option value="12">12</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户</b></th>
                            <th><b>金额</b></th>
                            <th class="text-right"><b>操作时间</b></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:items">
                        <tr>
                            <td data-bind="text:user.userName"></td>
                            <td data-bind="text:amount"></td>
                            <td class="text-right" data-bind="dateTimeText:createTime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                当前第<span class="cl-blue" data-bind="text:pageNumber"></span>页
                总共<span class="cl-blue">12</span>页
            </div>
            <div class="pull-right">
                <a href="#" data-bind="click:hasPrev()&&loadPrevPage">上一页</a>
                <a href="#" data-bind="click:hasNext()&&loadNextPage">下一页</a>
            </div>
        </div>
    </div>
</div>
