<div class="container">
    <div class="row">
        <div class="bs-example bs-example-standalone" data-example-id="dismissible-alert-js" data-bind="if:notices().length>0">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>通知信息</strong>
                <span data-bind="text:notices()[0].content"></span>
            </div>
        </div>

        <div class="col-sm-24" data-bind="with:menu()[0]">
            <div class="col-sm-12">
                <img src="../images/pay.jpg" width="500" height="415" />
            </div>
            <div class="col-sm-12">
                <div class="type-sh3"><b>今日菜谱</b></div>
                <div class="type-sh3" data-bind="text:details"></div>
            </div>
            <div class="col-sm-6">
                <div class="type-sh3"><b>套餐类型</b></div>
                <div class="form-group">
                    <div class="combobox">
                        <select class="form-control" data-bind="value:$parent.menuTypeId,options:$parent.allMenu,optionsValue:'id',optionsText:'title'"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="type-sh3"><b>口味类型</b></div>
                <div class="form-group">
                    <div class="combobox">
                        <select class="form-control" data-bind="value:$parent.foodTypeId,options:$parent.allFoodType,optionsValue:'id',optionsText:'name'"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="type-sh3"><b>点餐地点</b></div>
                <div class="form-group">
                    <div class="combobox">
                        <select class="form-control" data-bind="value:$parent.locationId,options:$parent.allLocation,optionsValue:'id',optionsText:'name'"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="type-sh3"><b>金额(元)</b></div>
                <div class="form-group">
                    <input type='text' class='form-control' readonly data-bind="value:price" />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="type-sh3"><b>备注信息</b></div>
                <div class="form-group">
                    <textarea id="info" rows="2" data-bind="value:$parent.comment"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="btn-group mt-40">
                    <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal-sample" data-bind="click:$parent.commit.bind($parent,$data)">提交</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-sample" tabindex="-1" role="dialog" aria-labelledby="modal-sample">
    <div class="modal-dialog" role="document" data-bind="with:foodOrder">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label">
                    确定要点餐？
                </h4>
            </div>
            <div class="modal-body">
                <div><b>菜谱：</b><span data-bind="text:details"></span></div>
                <div><b>套餐：</b><span data-bind="text:title"></span></div>
                <div><b>口味：</b><span data-bind="text:type"></span></div>
                <div><b>地点：</b><span data-bind="text:location"></span></div>
                <div><b>金额：</b><span data-bind="text:price"></span></div>
                <div><b>备注：</b><span data-bind="text:comment"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" data-bind="click:$parent.commitOrder.bind($parent)">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
