<div class="container">
    <div class="row" data-bind="visible:auth.authed">
        <div class="bs-example bs-example-standalone" data-example-id="dismissible-alert-js" data-bind="if:notices()">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>通知信息</strong>
                <span data-bind="html:notices().content"></span>
            </div>
        </div>
        <div class="col-lg-12 col-md-24">
            <img src="../images/pay.jpg?v=2" />
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-24">
                    <div class="type-sh3">今日菜谱</div>
                    <div class="type-sh3" data-bind="text:menu()&&menu().details"></div>
                </div>
                <div class="col-md-12">
                    <div class="type-sh3">套餐类型</div>
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control" data-bind="value:menuTypeId,options:allMenu,optionsValue:'id',optionsText:'title'"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="type-sh3">口味类型</div>
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control" data-bind="value:foodTypeId,options:allFoodType,optionsValue:'id',optionsText:'name'"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="type-sh3">点餐地点</div>
                    <div class="form-group">
                        <div class="combobox">
                            <select class="form-control" data-bind="value:locationId,options:allLocation,optionsValue:'id',optionsText:'name'"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="type-sh3">金额(元)</div>
                    <div class="form-group">
                        <input type='text' class='form-control' readonly data-bind="value:menu()&&menu().price" />
                    </div>
                </div>
                <div class="col-md-24">
                    <div class="type-sh3">备注信息</div>
                    <div class="form-group">
                        <textarea id="info" rows="2" data-bind="value:comment"></textarea>
                    </div>
                </div>
                <div class="col-md-24" data-bind="if:auth.isAdmin">
                    <div class="type-sh3">点餐用户</div>
                    <div class="form-group">
                        <input type="text" class="form-control" data-bind="value:name">
                    </div>
                </div>
                <div class="col-md-24">
                    <div class="btn-group mt-40">
                        <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal-sample" 
                           data-bind="click:commit, attr: {disabled: !menu()}">提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-bind="ifnot:auth.authed">
        <h1>请登录.</h1>
    </div>
    <div class="row" data-bind="visible:auth.authed">
        <div class="row" style="border:1px dashed #808080; height:300px; text-align:center;line-height:300px; color:#808080; font-size:30px;">
            免费广告位出租.
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sample" tabindex="-1" role="dialog" aria-labelledby="modal-sample">
    <div class="modal-dialog" role="document" data-bind="with:foodOrder">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label">
                    确定要点餐？
                </h4>
            </div>
            <div class="modal-body">
                <div><b>菜谱：</b><span data-bind="text:details"></span></div>
                <div><b>套餐：</b><span data-bind="text:title"></span></div>
                <div><b>口味：</b><span data-bind="text:type"></span></div>
                <div><b>地点：</b><span data-bind="text:location"></span></div>
                <div><b>金额：</b><span data-bind="text:price"></span></div>
                <div><b>备注：</b><span data-bind="text:comment"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" data-bind="click:$parent.commitOrder.bind($parent)">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
