<div class="container">
    <div class="row">
        <div class="col-sm-24">
            <div class="col-sm-3">
                <a class="btn btn-lightweight no-outline navigation-btn"></a>
                <nav role="navigation" id="sidenav" class="nav side-navigation side-navigation-large theme-default">
                    <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
                        <i class="glyph glyph-cancel"></i>
                    </button>
                    <ul>
                        <!-- ko foreach: router.navigationModel -->
                        <li role="presentation" data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }, html: title"></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </nav>
            </div>
            <div class="col-sm-21">
                <div class="page-host" data-bind="router: { cacheViews:true, transition: 'entrance' }"></div>
            </div>
        </div>
    </div>
</div>