<div class="container">
    <div class="row">
        <div class="form-group col-sm-6">
            <input type="date" class="form-control" jquery-validation="true" />
        </div>
        <div class="form-group col-sm-6">
            <input type='text' class='form-control' placeholder="用户名称" />
        </div>
        <div class="col-sm-12">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="form-group">
                <span>每页</span>
                <select size="1">
                    <option>12</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                <span>行</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户名称</b></th>
                            <th><b>点餐时间</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>备注</b></th>
                            <th class="text-right"><b>退订</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                        <tr>
                            <td>Gray</td>
                            <td>2015-10-31</td>
                            <td>豪华套餐</td>
                            <td>超辣</td>
                            <td>不要辣椒</td>
                            <td class="text-right"><a href="javascript:void(0)">退订</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                当前第<span class="cl-blue">1</span>页
                总共<span class="cl-blue">12</span>页
            </div>
            <div class="pull-right">
                <a href="#">上一页</a>
                <a href="#">下一页</a>
            </div>
        </div>
    </div>
</div>
