<div class="container">
    <div class="row">
        <div class="form-group col-sm-6">
            <input type="date" class="form-control" jquery-validation="true" data-bind="value:queryTime" />
        </div>
        <div class="form-group col-sm-6">
            <input type='text' class='form-control' placeholder="用户名称" data-bind="value:userName" />
        </div>
        <div class="col-sm-3">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="查询" data-bind="click:query"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="导出EXCEL" data-bind="click:exportExcel"><span class="glyph glyph-download"></span></a>
            </div>
        </div>
    </div>
    <div class="row" data-bind="if:items().length>0">
        <div class="col-sm-24">
            <div class="form-group">
                <span>显示行数</span>
                <select size="1" data-bind="value: pageSize">
                    <option value="12">12</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>用户名称</b></th>
                            <th><b>点餐时间</b></th>
                            <th><b>菜谱内容</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>地点</b></th>
                            <th><b>备注</b></th>
                            <th class="text-right"><b>编辑备注</b></th>
                            <th class="text-right"><b>退订</b></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:items">
                        <tr>
                            <td data-bind="text:orderUser.userName"></td>
                            <td data-bind="dateTimeText:orderTime"></td>
                            <td data-bind="text:foodMenu.details"></td>
                            <td data-bind="text:foodMenu.title"></td>
                            <td data-bind="text:taste.name"></td>
                            <td data-bind="text:location.name"></td>
                            <td data-bind="text:comment"></td>
                            <td class="text-right"><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-sample" data-bind="click:$parent.setComment.bind($parent,$data)">编辑备注</a></td>
                            <td class="text-right"><a href="javascript:void(0)" data-bind="click:$parent.drop.bind($parent,$data)">退订</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                当前第<span class="cl-blue" data-bind="text:pageNumber">1</span>页
            </div>
            <div class="pull-right">
                <a href="#" data-bind="click:hasPrev()&&loadPrevPage">上一页</a>
                <a href="#" data-bind="click:hasNext()&&loadNextPage">下一页</a>
            </div>
        </div>
    </div>
    <div class="row text-center" data-bind="ifnot:items().length>0">
        <h3>没有查询到相关数据.</h3>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modal-sample" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-24 col-md-17">
                    <textarea type='text' class='form-control' placeholder="备注" data-bind="value:comment" rows="4" />
                </div>
                <div class="col-sm-24 col-md-3 mt-11">
                    <a class="btn btn-block btn-primary" data-bind="click:update">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>