<div class="container">
    <div class="row">
        <form data-bind="submit: search">
            <div class="form-group col-sm-6">
                <input type="date" class="form-control" jquery-validation="true" data-bind="value:startTime" />
            </div>
            <div class="form-group col-sm-6">
                <input type="date" class="form-control" jquery-validation="true" data-bind="value:endTime" />
            </div>
            <div class="form-group col-sm-6">
                <input type='text' class='form-control' placeholder="用户名称" data-bind="value:userName" />
            </div>
            <div class="col-sm-3">
                <div class="btn-group mt-35">
                    <button type="submit" class="btn btn-block btn-primary" title="查询">
                        <span class="glyph glyph-magnifier-3"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-group mt-35">
                    <button type="button" class="btn btn-block btn-primary" title="导出EXCEL" data-bind="click:exportExcel">
                        <span class="glyph glyph-download"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" data-bind="if:items().length>0">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th><b>用户名称</b></th>
                            <th><b>点餐时间</b></th>
                            <th><b>菜谱内容</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>地点</b></th>
                            <th class="text-right"><b>备注</b></th>
                            <th class="text-right"><b>操作</b></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:items">
                        <tr>
                            <td data-bind="text:id"></td>
                            <td data-bind="text:orderUser.userName"></td>
                            <td data-bind="dateTimeText:orderTime"></td>
                            <td data-bind="text:foodMenu.details"></td>
                            <td data-bind="text:foodMenu.title"></td>
                            <td data-bind="text:taste.name"></td>
                            <td data-bind="text:location.name"></td>
                            <td class="text-right">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-sample"
                                   data-bind="click:$parent.setComment.bind($parent,$data), text: comment || '<无>'">
                                </a>
                            </td>
                            <td class="text-right">
                                <!-- ko ifnot: payment -->
                                <a href="javascript:void(0)" class="text-warning" data-bind="click:$parent.drop.bind($parent,$data)">删除</a>
                                <a href="javascript:void(0)" data-bind="click:$parent.pay.bind($parent,$data)">付款</a>
                                <!-- /ko -->

                                <!-- ko if: payment -->
                                <a href="javascript:void(0)" data-bind="click:$parent.cancelPay.bind($parent,$data)">取消付款</a>
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                第<span class="cl-blue" data-bind="text:pageNumber"></span>页
            </div>
            <div class="pull-right">
                <!-- ko if: hasPrev -->
                <a href="#" data-bind="click:loadPrevPage">上一页</a>
                <!-- /ko -->
                <!-- ko if: hasNext -->
                <a href="#" data-bind="click:loadNextPage">下一页</a>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="row text-center" data-bind="ifnot:items().length>0">
        <h3>没有查询到相关数据.</h3>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modal-sample" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-24 col-md-17">
                    <textarea type='text' class='form-control' placeholder="备注" data-bind="value:comment" rows="4" />
                </div>
                <div class="col-sm-24 col-md-3 mt-11">
                    <a class="btn btn-block btn-primary" data-bind="click:update">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>