<div class="container">
    <div class="row">
        <div class="form-group col-sm-6">
            <input type="date" class="form-control col-md-1" jquery-validation="true" />
        </div>
        <div class="col-sm-8">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
        <div class="col-sm-9 clearfix mt-15">
            <div class="checkbox pull-right">
                <div class="type-sh4 cl-blue">
                    余额：<span>12</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <span>显示行数</span>
                <select size="1">
                    <option>12</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <div class="col-sm-21">
            <div class="checkbox mt-22">
                <label>
                    <input type="checkbox">
                    <span>只显示个人</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>用户名称</b></th>
                            <th><b>点餐时间</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>备注</b></th>
                            <th><b>金额</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                当前第<span class="cl-blue">1</span>页
                总共<span class="cl-blue">12</span>页
            </div>
            <div class="pull-right">
                <a href="#">上一页</a>
                <a href="#">下一页</a>
            </div>
        </div>
    </div>
</div>
