<div class="container" data-bind="if:noData">
    <div class="row">
        <div class="form-group col-sm-6">
            <input type="date" class="form-control col-md-1" jquery-validation="true" data-bind="value:queryTime" />
        </div>
        <div class="col-sm-8">
            <div class="btn-group mt-35">
                <a class="btn btn-block btn-primary" title="查询" data-bind="click:query"><span class="glyph glyph-magnifier-3"></span></a>
            </div>
        </div>
        <div class="col-sm-9 clearfix mt-15">
            <div class="checkbox pull-right">
                <div class="type-sh4 cl-blue">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <span>显示行数</span>
                <select size="1" data-bind="value:pageSize">
                    <option value="12" selected="selected">12</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="col-sm-21">
            <div class="checkbox mt-22">
                <label>
                    <input type="checkbox" data-bind="checked:onlyMe">
                    <span>只显示个人</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>用户名称</b></th>
                            <th><b>点餐时间</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>备注</b></th>
                            <th><b>金额</b></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:items">
                        <tr>
                            <td data-bind="text:orderUser.userName"></td>
                            <td data-bind="dateTimeText:orderTime"></td>
                            <td data-bind="text:foodMenu.title"></td>
                            <td data-bind="text:taste.name"></td>
                            <td data-bind="text:comment"></td>
                            <td data-bind="text:foodMenu.price"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="pull-left paginaton">
                当前第<span class="cl-blue" data-bind="text:pageNumber"></span>页
                总共<span class="cl-blue">12</span>页
            </div>
            <div class="pull-right">
                <a href="#" data-bind="click:hasPrev()&&loadPrevPage">上一页</a>
                <a href="#" data-bind="click:hasNext()&&loadNextPage">下一页</a>
            </div>
        </div>
    </div>
</div>

<div class="container" data-bind="ifnot:noData">
    <div class="row" data-bind="ifnot:noData">
        <div class="col-md-24 text-center jumbotron theme-dark">
            <h3 class="color-type-alert-alt">友情提示：您的还没有登录，无法访问此页面！</h3>
        </div>
    </div>
</div>
