<div class="container">
    <div class="row">
        <div class="col-sm-24 col-md-8">
            <input type="date" class="form-control col-md-1" jquery-validation="true" />
        </div>
        <div class="col-sm-24 col-md-3 mt-7">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    <span>只显示个人</span>
                </label>
            </div>
        </div>
        <div class="col-sm-24 col-md-3 mt-12">
                <a class="btn btn-primary theme-default" title="查询"><span class="glyph glyph-magnifier-3"></span></a>
        </div>
        <div class="col-sm-24 col-md-9 clearfix mt-15">
            <div class="checkbox pull-right">
                <div class="type-sh4 color-type-accent-alt">
                    余额：<span>12</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>用户名称</b></th>
                            <th><b>点餐时间</b></th>
                            <th><b>套餐</b></th>
                            <th><b>口味</b></th>
                            <th><b>备注</b></th>
                            <th><b>金额</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NICE</td>
                            <td>2015-10-25</td>
                            <td>This is the amazing new Gadget Alpha.</td>
                            <td>Gadget Foxtrot</td>
                            <td>Gadget Foxtrot</td>
                            <td>$0.99</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-24 col-md-24">
                    <nav class="pull-right">
                        <ul class="pagination">
                            <li class="pagination-prev">
                                <a href="#" aria-label="上一页"></a>
                            <li class="pagination-next">
                                <a href="#" aria-label="下一页"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
