<div class="container">
    <div class="row">
        <div class="col-md-24" id="register">
            <h2 class="color-type-primary-alt">注册</h2>
            <form>
                <div class="col-md-24">
                    <div class="col-sm-24">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="color-type-primary-alt">用户名 *</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 color-type-primary-alt mt22">
                            提示
                        </div>
                    </div>
                    <div class="col-sm-24">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="color-type-primary-alt">邮箱 *</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 color-type-primary-alt mt22">
                            提示
                        </div>
                    </div>
                    <div class="col-sm-24">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="color-type-primary-alt">密码 *</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 color-type-primary-alt mt22">
                            提示
                        </div>
                    </div>
                    <div class="col-sm-24">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="color-type-primary-alt">确认密码 *</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6 color-type-primary-alt mt22">
                            提示
                        </div>
                    </div>
                    <div class="col-sm-24">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default theme-dark no-outline">确定注册</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>