<div class="md-toolbar-tools" tabindex="-1">
    <md-button class="md-icon-button" ng-click="root.openMenu()" hide-gt-sm aria-label="Toggle Menu">
        <md-icon md-svg-src="/img/icons/ic_menu_white_24px.svg"></md-icon>
    </md-button>
    <div layout="row" flex class="fill-height">
        {{root.pageInfo().title}}
    </div>
    <span flex></span>

    <md-button aria-label="Logout" ng-click="root.logout($event)" ng-show="root.auth().authed">
        退出
    </md-button>
    <md-button aria-label="Login" ng-click="root.login($event)" ng-show="!root.auth().authed">
        登录
    </md-button>
</div>