<md-list>
    <md-list-item>
        <md-button class="selected">
            用户点餐
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button>
            菜单管理
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button>
            用户管理
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button>
            订单管理
        </md-button>
    </md-list-item>

    <md-list-item>
        <md-button>
            关于
        </md-button>
    </md-list-item>
</md-list>