@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/winstrap.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/durandal.css" rel="stylesheet" />
</head>
<body>
    <!--这是所有页面都会有的东西-->
    <div id="applicationHost"></div>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/require.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/ui/js/amd.js"></script>
</body>
</html>
<script>
    $(document).on("click", ".menuName", function () {
        $(this).parent().find(".menuContent").slideToggle();
    });
</script>